#addBtn{
    -fx-background-color: #222F52;
    -fx-background-radius: 5;
    -fx-text-fill: #F4F2EF;
    -fx-font-family: "BT Beau Sans";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
#editTitle{
    -fx-background-color:  #F4F2EF;
    -fx-text-alignment: middle;
    -fx-background-radius: 20;
}
#editBtn{
    -fx-background-color: #AD8B4A;
    -fx-background-radius: 5;
    -fx-text-fill: #F4F2EF;
    -fx-font-family: "BT Beau Sans";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
#selectImageButton{
    -fx-background-color: #DDD6C5;
    -fx-background-radius: 5;
    -fx-text-fill: #222F52;
    -fx-font-family: "BT Beau Sans";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
#line_shape1{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #222F52;
    -fx-border-width: 1;
}